#doctors #doctors_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px;
    gap: 30px;
    max-width: 2000px;


}
#doctors .doctors_cards_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   


}

/* #dContainer{

} */
#doctors #doctors_cards .member{
    display: flex;
max-width: 550px;
}

#doctors #doctors_cards img:hover{
    cursor: pointer;
}